<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>

    <h1> {{ title }} </h1>

    <div class="container">
        <form>
            Numero 1: <input type="number" [(ngModel)]="num1" name="num1">
            <br><br> Numero 2: <input type="number" [(ngModel)]="num2" name="num2">
            <br><br>
            <input type="submit" class="btn btn-primary" value="suma" (click)="sumar()">
            <input type="submit" class="btn btn-primary" value="resta" (click)="restar()">

        </form>
    </div>

    <p>Resultado = {{result}}</p>

</body>

</html>