<div class="container" style="text-align: center;">
    <h1>{{title}}</h1>
</div>
<hr>
<div class="container" style="width: 200px; margin-top: 5%;">
    <form>
        <input type="text" name="name" class="form-control" style="margin: 5px;" placeholder="Name" [(ngModel)]="inputName">
        <input type="text" name="surname" class="form-control" style="margin: 5px;" placeholder="Surname" [(ngModel)]="inputSurname">
        <input type="text" name="email" class="form-control" style="margin: 5px;" placeholder="Email" [(ngModel)]="inputEmail">
        <input type="number" name="telephone" class="form-control" style="margin: 5px;" placeholder="Telephone number" [(ngModel)]="inputTelephone">
        <button type="submit" class="btn btn-primary" (click)="saveContact()" style="margin: 5px; width: 100%;">Save</button>
    </form>
</div>
<br>
<hr><br>
<div class="container">
    <div class="row">
        <div class="col-md-4" style="padding: 2%; display: flex; flex-direction: row; border: 1px dashed grey;" *ngFor="let c of contacts; let i=index">
            <p style="margin: 2%; width: 75%;">{{ (i+1) + ". " + c.name + " " + c.surname }}<br>{{ c.email + " - " + c.telephone }}</p>
            <button type="submit" class="btn btn-primary" style="margin: 2%;" (click)="deleteContact(i)">Delete</button>
        </div>
    </div>

</div>