<div class="row justify-content-between">
    <div class="col-lg-auto">
        <div class="card card-body" *ngIf="cityWeather">
            <div class="table" table>
                <thead>
                    <tr class="table">
                        <th colspan="2" style="text-align: start;" scope="col">{{cityWeather.name}}
                            <p style="font-size: 0.5em;">({{cityWeather.coord.lat}},{{cityWeather.coord.lon}})</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-warning">
                        <th class="table-primary" scope="row">Temperature</th>
                        <td>{{ cityWeather.main.temp }} ºC</td>
                    </tr>
                    <tr class="table-warning">
                        <th class="table-primary" scope="row">Humidity</th>
                        <td>{{ cityWeather.main.humidity }} %</td>
                    </tr>
                    <tr class="table-warning">
                        <th class="table-primary" scope="row">Temp. Max</th>
                        <td>{{ cityWeather.main.temp_max }} ºC</td>
                    </tr>
                    <tr class="table-warning">
                        <th class="table-primary" scope="row">Temp. Min</th>
                        <td>{{ cityWeather.main.temp_min }} ºC</td>
                    </tr>
                    <tr class="table-warning">
                        <th class="table-primary" scope="row">Pressure</th>
                        <td>{{ cityWeather.main.pressure }} HPa</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>